:root {
  --primary-color: #78e3fd;
  --secondary-color: #d1f5ff;
  --white: #eef8ff;
  --black: #333;
  --grey: #aaa;
  --font: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}

hr {
  border: 0;
  border-top: 1px solid var(--grey);
  height: 0;
  margin: 1rem 0;
}

.nav-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-wrapper .title {
  color: var(--black);
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 4rem);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 1rem;
}

.alert {
  background: red;
  border-radius: .25rem;
  color: var(--white);
  margin-bottom: 1rem;
  padding: .3rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.box {
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50rem;
  padding: 1rem;
  width: 100%;
}

.box-title {
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.search-wrapper,
.sort-wrapper,
.limit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.search-label,
.sort-title,
.limit-label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.search-input,
.limit-select {
  border: 1px solid var(--grey);
  border-radius: .25rem;
  font-size: 1rem;
  outline-color: var(--secondary-color);
  padding: 0.5rem;
}

.sort-inputs-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 165px 13px;
}

.btn-search {
  border: none;
  border-radius: .25rem;
  background: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.search-result {
  background: var(--primary-color);
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  display: none;
  margin-top: 2rem;
  max-width: 50rem;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 960px) {
  .search-result {
    max-width: 80rem;
  }
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 640px) {
  .visible {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}
@media (min-width: 960px) {
  .visible {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.search-result-title {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .search-result-title {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.post-box {
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.post-box:last-child {
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .post-box {
    margin-bottom: 0;
  }
}

.post-img {
  border-radius: 0.25rem;
  width: 100%;
}

.post-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.post-text {
  margin-bottom: 1rem;
}

.btn-post-link {
  background: var(--primary-color);
  border-radius: 0.25rem;
  color: var(--black);
  display: block;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.badge-subreddit,
.badge-score {
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.badge-subreddit {
  background: var(--primary-color);
  margin-bottom: 0.5rem;
}

.badge-score {
  background: var(--secondary-color);
}
